* {
  box-sizing: border-box;
  background-color: #23252C;
}
.header{
  text-align: center;
}

.headshot{
  width: 317px;
  height:317px;
  left: 116px;
  border-radius: 10px 10px; /*gives image rounded edge*/
}